@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


<a href="https://github.com/Benzas01/Chatbot">Github frontend</a>


<a href="https://github.com/Benzas01/Backend_Chatbot">Github backend</a>

